body {
  max-width: 100%;
  text-align: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
s .d-flex > a {
  margin-right: 10px;
}
nav {
  background-color: rgb(169, 131, 204);
}
.navbar-nav {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding: auto;
}
h3 {
  margin: 25px;
  color: rgb(1, 1, 26);
  text-shadow: rgb(100, 83, 50);
}

#dBtn {
  color: white;
}
/* .container {
  text-align: left;
  margin: 35px 0 35px 0;
} */
.bg-dark {
  margin-top: 35;
  width: 100%;
  height: 100px;
  margin-bottom: 0;
  padding: 25;
  /* text-align: center; */
}
#logo {
  width: 100;
  border-radius: 50%;
}
.card {
  margin-bottom: 2rem;
  /* text-align: left; */
}
.card-img-top {
  width: 100%;
  height: 300px;
}
#profilePic {
  /* width: 100%; */
  height: 30%;
}
#eventPic {
  height: 250px;
  /* width: 100%; */
  margin-bottom: 20px;
}
.event-details-pic {
  height: 50%;
}
.fm-home-pic {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 40%;
}