body {
  max-width: 100%;
  text-align: center;
}
.d-flex > a {
  margin-right: 10px;
}
nav {
  background-color: rgb(169, 131, 204);
}
.navbar-nav {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding: auto;
}
h3 {
  margin: 25;
  color: rgb(1, 1, 26);
  text-shadow: rgb(100, 83, 50);
  font-style: italic;
}

#dBtn {
  color: white;
}
.container {
  text-align: left;
  margin: 35px 0 35px 0;
  max-width: 100%;
}
.bg-dark {
  margin-top: 35;
  width: 100%;
  height: 100px;
  margin-bottom: 0;
  padding: 25;
  text-align: center;
}
#logo {
  width: 100;
}
/* 
a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  width: 70%;
  max-width: 100%;
  padding: 5%;
}
form input {
  border: 1px solid black;
  width: 70%;
  margin-top: 25px;
  text-align: left;
  max-width: 100%;
  padding: 5%;
}
form textarea {
  border: 1px solid black;
  width: 70%;
  margin-top: 25px;
  text-align: left;

  max-width: 100%;
  padding: 5%;
}
form > label {
  text-align: left;
  margin: 10px;
}
button {
  text-align: center;
  margin-top: 5%;
} */
