<h2>Create an Event</h2>

<form action='/events/create' method='post'>

  <label>Title:</label>
  <input type='text' name='title' />

  <label>Location:</label>
  <input type='text' name='location' />

  <label>Maximum Attendees:</label>
  <input type='number' name='maxAttendees' min="1" />

  <label>Date:</label>
  <input type='date' name='date' />

  <label>Description:</label>
  <textarea name='description' cols='30' rows='4'> </textarea>

  {{!-- <label>
    Organiser:
    <select name='organiser'>
      {{#each attendeesArr}}
        <option value='{{this._id}}'>{{this.name}}</option>
      {{/each}}
    </select>
  </label> --}}

  <button type='submit'> Create</button>
</form>