<h3>Collection Of The Events</h3>
<div class='card-deck'>
  {{#each events}}
    <div class='card mb-3'>
      <img
        src='https://cdn.mensagenscomamor.com/content/images/m000299823.jpg?v=1&w=1200&h=801'
        class='card-img-top'
        alt='birthday party img'
      />
      <br />
      <div class='card-body'>
        <h4><Title>Title: </Title>{{title}}</h4>
        <br />
        <h4><title>Location:</title> {{location}}</h4>
        <br />
        <h6> <title>Date: </title>{{date}}</h6>
        <br />
        <div class='d-flex justify-content-start'>
          <a class='btn btn-info' href='/events/{{_id}}'>More details</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>