    <div class='container-fluid'>
      <div class='carousel-inner'>
        <div class='carousel-item active'>
          <img
            src='/images/fm.jpg'
            class='d-block w-100 heroImg'
            alt='fm-events'
          />
    
        </div>
      </div>
    </div>