<h1>{{appTitle}} 🚀</h1>
<p>Welcome Event!</p>

<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<p>
  <a href='/events'>Events</a>
  |
  <a href='/events/create'>Create your Event</a>
  |
 
</p>

<p>
  <a href='/signup'>Register</a>
  |
  <a href='/login'>Login</a>
  |
</p>